/* styles/home.module.css */
a.link {
  text-decoration: none;
  color: inherit;
}

.logo img {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.logoCenter img {
  width: 500px;
  height: auto;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.gameButton {
  display: inline-block;
  margin: 0 10px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #779556;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.gameButton:hover {
  background-color: #59703e;
  transform: scale(1.05);
}