.scoreboard {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 50px;
    background-color: grey;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
