.tile {
    display: grid;
    place-content: center;
    height: 100px;
    width: 100px;
    position: relative;
}

.black-tile {
    background-color: #779556;
    color: #ebecd0;
}

.white-tile {
    background-color: #ebecd0;
    color: #202020;
}

.piece {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
    margin: auto;
    z-index: 2;
}

.piece:hover {
    cursor: grab ;
}

.piece:active {
    cursor: grabbing;
}

.legalMove {
    background-color: coral  !important;
}

.operand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    z-index: 1;
}